			<% if user_signed_in?  %>
				<% if current_user.admin? %>
					<h3><b>Admin Categories</b></h3>
				<% else %>
					<h3><b>Categories</b></h3>
				<% end %>
			<% else %>		
					<h3><b> Categories</b></h3>
			<% end %>			
			<ul class="sidebar-list">
				<% if user_signed_in?  %>
					<% if current_user.admin? %>
						<li class="sidebar-item"><%= link_to "Latest Blogs", latest_blogs_path %></li>

					<% end %>
						<li class="sidebar-item"><%= link_to "New Blog", new_blog_path %></li>
				<% end %>

				
				<!--li class="sidebar-item">menu1</li-->
			</ul>