<style>
	#over img {
		margin-left: auto;
		margin-right: auto;
		display: block; 
	}
	.site-main {
		margin-top: 104px;
	}
</style>
<div id="page" class="site">
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
		<div class="about_content2 mobile-new">
			<div class="container-fluid">
				<p class="service_info"><span class="service_info_first_word">M</span>alibu IT Labs can build or
					enhance your mission-critical applications to ensure reliable delivery of the services you
					need to compete in today’s marketplace. Malibu IT Labs has experience in developing enterprise
					applications using Agile or Waterfall methodologies. Malibu IT Labs has developed multiple
					large scale, high performance and secured applications for clients in diverse business
					domains.</p>

				<p class="service_info">Malibu IT Labs has expertise on diverse platforms and technologies,
					which helps us in recommending the best and cost effective development phase to our clients.
					Our solutions are supported by cutting-edge technology in following areas:</p>

				<div id="over"><img class="img-responsive" src="/assets/tech_stack.jpg" alt="Malibu Tech Stack" height="600px" width="600px"></div>
				<br>

				<p>With expertise in multiple platforms and technologies, Malibu IT Labs is able to provide
					high-quality, cost-effective, end-to-end IT services to our clients.</p>
			</div>
		</div>
	</main>
</div>