<style>
	#over img {
		margin-left: auto;
		margin-right: auto;
		display: block; 
	}
	.site-main {
		margin-top: 104px;
	}
</style>
<div id="page" class="site">
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
		<div class="about_content2 mobile-new">
			<div class="container-fluid">
				<p class="service_info"><span class="service_info_first_word">D</span>emand for Big Data solutions has exploded in recent years in response to ever increasing storage and analytics demands. Malibu IT Labs has acquired advanced skills in Big Data platforms and technologies to service our clients across a variety of business segments.</p>

				<p class="service_info">Regardless of your company’s size or vertical market, Malibu IT Labs is committed to helping you develop, migrate and maintain high-performing Big Data technologies and platforms.</p>

				<div id="over"><img class="img-responsive" src="/assets/bigData.png" alt="Malibu BigData" height="500px" width="500px"></div>
				<br>

				<h4>Our Big Data development services include:</h4>
                <ul>
                <li>Design and architecture of complex, real-time and batch Big Data solutions</li>
                <li>Custom development of Hadoop, MapReduce, and PIG applications</li>
                <li>NoSQL databases, such as Cassandra, HBase, MongoDB, etc.</li>
                <li>Data Warehousing and BI solutions with Hive, MySQL and Pentaho</li>
                <li>Real-time messaging mechanisms, such as Kafka and Storm</li>
                <li>Migration from standard Data Warehouse platforms; e.g. from Teradata to Hadoop</li>
                </ul>

                <h4>Our Big Data operations support services include:</h4>
                <ul>
                    <li>Big Data deployment and production support</li>
                    <li>AWS infrastructure and operations support</li>
                    <li>Monitoring mechanisms, such as ZooKeeper, RightScale, EC2Organizer, S3Fox, PageDuty, Nagios and Splunk</li>
                </ul>
			</div>
		</div>
	</main>
</div>







