<style>
	#over img {
		margin-left: auto;
		margin-right: auto;
		display: block; 
	}
	.site-main {
		margin-top: 104px;
	}
</style>
<div id="page" class="site">
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
		<div class="about_content2 mobile-new">
			<div class="container-fluid">
				<p class="service_info"><span class="service_info_first_word">T</span>oday’s marketplace demands that your IT infrastructure be efficient, flexible, dependable and compliant while optimizing your IT return on investment.</p>

                <p class="service_info">Malibu IT Labs can help you achieve these goals. We deliver a comprehensive set of IT infrastructure services and support. Through our highly skilled and trusted partners, we are able to provide a wide range of cost-effective, high quality IT services to our clients, both onsite and via outsourcing arrangements, as needed.</p>

                <div id="over"><img class="img-responsive" src="/assets/cloud.png" alt="Malibu Cloud" height="500px" width="500px"></div>
				<br>

				<h4>Our Cloud services include:</h4>
                <ul>
                <li>AWS, EC2, Elastic MapReduce, S3, SQS, SNS, and DynamoDB</li>
                <li>RightScale-based instance templates and custom alerting mechanisms</li>
                <li>Chef-based instance templates</li>
                <li>Prototyping applications on the Cloud</li>
                </ul>

                <h4>Our IT infrastructure services include:</h4>
                <ul>
                <li>Consulting and integration services</li>
                <li>Desktop management and mobility services</li>
                <li>Network management</li>
                <li>Communications management services</li>
                <li>Security services</li>
                <li>Data center services</li>
                </ul>

                <h4>Our IT infrastructure services include:</h4>
                <ul>
                <li>Highly scalable, balanced and cost-effective IT outsourcing solutions that meet critical business objectives</li>
                <li>Project-based point solutions, full IT infrastructure outsourcing, or technology migration services</li>
                </ul>

			</div>
		</div>
	</main>
</div>