<style>
	#over img {
		margin-left: auto;
		margin-right: auto;
		display: block; 
	}
	.site-main {
		margin-top: 104px;
	}
</style>
<div id="page" class="site">
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
		<div class="about_content2 mobile-new">
			<div class="container-fluid">
				<p class="service_info"><span class="service_info_first_word">Q</span>uality and timely information is the lifeblood of your business. Having real-time access to high quality data, including powerful insights to make key decisions, is what business intelligence is all about. Malibu IT Labs provides industry-leading BI services that help you stay one step ahead of the competition.</p>

				<div id="over"><img class="img-responsive" src="/assets/datawarehousing.png" alt="Malibu Data Warehousing" height="500px" width="500px"></div>
				<br>

				<h4>Our services include:</h4>
                <ul>
                <li>Data Warehouse – Assessment & Planning</li>
                <li>Data Management Services</li>
                <li>Data Integration using ETL tools and hadoop</li>
                <li>Business Intelligence</li>
                <li>Data aggregation strategy and planning</li>
                <li>Dashboards and reports</li>
                <li>Batch processing and data preparation</li>
                <li>Analytics and data mining</li>
                <li>Ad hoc reporting</li>
                </ul>

			</div>
		</div>
	</main>
</div>
