<style>
    #over img {
		margin-left: auto;
		margin-right: auto;
		display: block; 
	}
	.site-main {
		margin-top: 104px;
	}
</style>
<div id="page" class="site">
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
		<div class="about_content2 mobile-new">
			<div class="container">
				<p class="service_info"><span class="service_info_first_word">A</span>s a full-service IT service provide, Malibu IT Labs is prepared to meet all of your Data Warehousing, Information Management and IT Staffing needs.</p>

                <div id="over"><img class="img-responsive" src="/assets/devprocess.png" alt="Malibu Cloud" height="500px" width="500px"></div>

                <br>
				<h4>Data Warehouse – Assessment &amp; Planning:</h4>
                <ul>
                <li>Data warehouse assessment</li>
                <li>Information architecture strategy and planning</li>
                <li>Establishing data governance strategy</li>
                <li>Assessment of BI, modeling and analytics requirements</li>
                <li>Teradata, Vertica, Hive</li>
                </ul>
                
                <h4>Data Management Services:</h4>
                <ul>
                <li>Enterprise data modeling</li>
                <li>Master data management</li>
                <li>Scalable database and data mart design</li>
                <li>Data warehouse development</li>
                <li>Data profiling and mining</li>
                <li>Design, development and project management of data warehousing projects</li>
                <li>Performance optimization</li>
                </ul>

                <h4>Data Integration:</h4>
                <ul>
                <li>ETL/EAI analysis, design and development</li>
                <li>Data conversion, migration, re-engineering/re-platform</li>
                <li>Data quality management and testing</li>
                <li>Custom development for batch processes and integration artifacts</li>
                <li>Middleware and messaging integration</li>
                <li>Informatica, Ab Initio, IBM DataStage, Talend, Mule, Hadoop, etc.</li>
                </ul>
			</div>
		</div>
	</main>
</div>
