<style>
    #over img {
		margin-left: auto;
		margin-right: auto;
		display: block; 
	}
	.site-main {
		margin-top: 104px;
	}
</style>
<div id="page" class="site">
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
<div class="container">
              <div class="row">
                      <div class="col-xl-12">
                          <div>
                              <h2>
                                <strong>Node Js Development</strong>
                                
                              </h2>
                          </div>
                          <h4><strong>Our Node Services</strong></h4>
                
                                      <ul>
                                        <li> Web Performance Enhancement.</li>
                                        <li> Web Maintenance.</li>
                                        <li> Web API Development.</li>
                                      </ul>
                        
                 
                        
               
              
                            <div>
                            <div id="over"><img class="img-responsive" src="/assets/nodejs.png" height="250px" width="250px"></div>
                              <p class="service_info"><b>Web Development</b></p>
                              <p class="service_info">Creating a website is an art which cannot be done effortlessly by any individual it needs focus and dedicated team. We have a young and strong team of programmers and developers who are efficient and trained in creating excellent and scalable websites.</p>

                              <p class="service_info"><b>Web Performance Enhancement</b></p>
                              <p class="service_info">Website needs to be updated for its smooth functioning and to enhance the performing capability of it.</p>

                              <p class="service_info"><b>Web Maintenance</b></p>
                              <p class="service_info">Creating a website is not enough, it requires timely maintenance. Almost every IT companies spend approximately 50%-60% of their IT budget on maintenance and correction. Maintenance is uttermost important for every website.</p>

                              <p class="service_info"><b>Web API Development</b></p>
                              <p class="service_info">API stands for Application Programming Interface. It makes possible for two individual systems to communicate and interact with each other.</p>
                            </div>

                            <h4><strong>What is Node?</strong></h4>
                            <div>

                              <p class="service_info">Node is an open source server environment for developing server-side and networking applications.</p>
                            </div>

                            <h4><strong>Why use Node?</strong></h4>
                            <div>

                              <p class="service_info">Node library is built on Google Chrome's V8 JavaScript Engine. The coding execution done by Node is extremely fast.

                                  </p>
                                  <ul>
                                    <li> It makes the server highly upgradable by responding in a non-blocking way.</li>
                                    <li>This application simply gives the data in parts, so it has zero buffer.</li>
                                    <li>It is mainly utilized in real-time applications.</li>
                                    <li>Node applications can be easily organized and send out.</li>
                                 </ul>

                              
                            </div>

                            <h4><strong>Industries using Node</strong></h4>
                            <div>

                              <p class="service_info">Node library is built on Google Chrome's V8 JavaScript Engine. The coding execution done by Node is extremely fast.

                                  </p><ul>
                                    <li><a href="https://www.amazon.in" target="_blank">Amazon</a></li>
                                    <li><a href="https://in.yahoo.com" target="_blank">Yahoo</a></li>
                                    <li><a href="https://www.sony.co.in" target="_blank">Sony</a></li>
                                    <li><a href="https://www.intel.in" target="_blank">Intel</a></li>
                                    <li><a href="https://www.apple.com" target="_blank">Apple</a></li>
                                 </ul>

                              <p class="service_info"></p>
                            </div>

                      </div>
                  </div>
                </div>
                </main>
                </div>