<style>
    #over img {
		margin-left: auto;
		margin-right: auto;
		display: block; 
	}
	.site-main {
		margin-top: 104px;
	}
</style>
<div id="page" class="site">
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
		<div class="about_content2 mobile-new">
			<div class="container">
				<p class="service_info"><span class="service_info_first_word">M</span>alibu IT Labs understands the critical need for testing software applications and provides flexible QA packages to meet this need.</p>

                <div id="over"><img class="img-responsive" src="/assets/qa.png" alt="Malibu QA" height="300px" width="300px"></div>

                <br>

                <p class="service_info">A wide range of manual and automated testing services are available, including strategy, functional, performance, load, security, and more. These services are available for multiple technologies and platforms, including mobile/wireless and web/backend applications. Our QA services include following aspects:</p>

				<h4>Strategy, Process and Governance:</h4>
                <ul>
                <li>QA Strategy and Planning</li>
                <li>Strategy Assessment & Roadmap</li>
                <li>QA Process Setup</li>
                <li>QA Process Assessment, Improvements and Optimization</li>
                <li>Tool Evaluations</li>
                <li>Test Governance Setup</li>
                </ul>
                
                <h4>QA Execution:</h4>
                <ul>
                <li>Manual and automated functional & regression testing</li>
                <li>Testing automation on Mobile Platforms</li>
                <li>Integration/systems testing</li>
                <li>User interface testing</li>
                <li>Performance and load testing</li>
                <li>Security testing and analysis</li>
                <li>Compatibility testing</li>
                </ul>
                <p class="service_info">We provide our customers the flexibility of choosing testing services that best suit their needs. For example, performance, regression, and stress tests are particularly useful before deploying an application to production, while functionality and integration tests help ensure the building of better quality software.</p>
			</div>
		</div>
	</main>
</div>
