<head>
	<script src="/assets/jquery-3.3.1.min.js"></script>
<style>
.banner_text_inner > ul li::after {
    content: "";
    font-family: fontawesome;
    height: 10px;
    left: -23px;
    position: absolute;
    top: 0px;
    width: 10px;
}
</style>
</head>
<div id="page" class="site">
	
			<div id="content" class="site-content">

<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main">
		

		<div class="banner inner_banner" style="background: #0D3D60;">
			<div class="bannerinner_outer" id="banner_image_on_bg207">
				<div class="banner_text_inner service-text">
					
					<h1><span class="ylw_service">Our </span>Services</h1><ul><li>End to End development services from UI design till deployment.</li><li>100+ UI designers and Web developers.</li><li>Agile approach allowing assessment of project direction throught the development lifecycle.</li></ul>
				</div>
				
				<div class="banner_image_on_bg">
					<img src="/assets/TBI-Services.png" alt="header_image" style="opacity: 1;">
				</div>

			</div>

		</div>

		<div class="my_breadcrumbs"><ul id="breadcrumbs" class="breadcrumbs"><li class="item-home"><a class="bread-link bread-home" href="/" title="Homepage">Homepage</a></li><li class="separator separator-home"> / </li><li class="item-current item-207"><strong class="bread-current bread-207"> Services</strong></li></ul></div>

		<div class="about_content2 mobile-new">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-sm-7">
							
						<p class="service_info"><span class="service_info_first_word">T</span>he Malibu IT Labs is an established IT firm that has been offering outstanding services for the customers around the world. Our agile workforce delivers comprehensive, reliable and secure services to various business verticals. We obviously comprehend that adaptability, productivity and speed are important factors for growth in today’s competitive world. Our talented developers are accomplished in all the popular programming languages that helps them to build innovative and interactive websites. Our goal is not to help an organization in setting up their plan of action, but also to keep up that status with most latest trends available in the market.</p>
					</div>
									
				</div>
			</div>
		</div>
		<div class="development">
			<div class="container-fluid">
				<!-- <div class="row" id="mob-app" style="height: 1550px;"> -->
				<div class="row" id="mob-app">
									<div class="service_development " style="background: rgba(240, 239, 235, 0.71);" id="mobapp_service">
						<div class="col-md-8 col-sm-7 no-padding">
						
							<div class="border_service">
<h3><span class="ylw_service">Mobile Application</span><br>
Development</h3>
</div>
<div class="col-md-4 col-sm-12 no-padding">
<div class="cols1-service">
<h3>Native IOS Apps</h3>
<p>Splendid developers have merged creative thoughts in work process of iOS application development.</p>
</div>
<div class="cols1-service">
<h3>Cross Platform</h3>
<p>Meet our adroit experts who are champions in Hybrid and Cross Platform mobile development.</p>
</div>
<div class="cols1-service">
<h3>Jquery Mobile Apps</h3>
<p>Our developers are capable in every JQUERY skill; from creating animations to selecting DOM elements and much more.</p>
</div>
</div>
<div class="col-md-4 col-sm-12 image-with-button servicemobapp">
<div class=" scrollable verticle">
<div class="items">
<div>
<div class="item"><img class="" src="/assets/massagite.png" alt="ios app development" width="auto" height="auto" style="opacity: 1;"></div>
</div>
</div>
</div>
</div>
<div class="col-md-4 col-sm-12 mob-no-padding">
<div class="cols2-service">
<h3>Native Android Apps</h3>
<p>Offering user-friendly and adaptable android applications all around the globe with 100% efficient services.</p>
</div>
<div class="cols2-service">
<h3>HTML5 Apps</h3>
<p>Known for the extensive experience in offering HTML5 development services to the clients all over the world.</p>
</div>
<div class="cols2-service">
<h3>Responsive Websites</h3>
<p>Technical expertise to offer responsive web applications that can take the business to the next level.</p>
</div>
<div class="buton_serv service_btn"><a href="/"><button>Learn More</button></a></div>
</div>
									
						</div>
					</div>
				</div>	
			</div>
				
						<div id="web-devid" class="web-dev" style="background: ;">
				<div class="row" id="web-app">
					<div class="col-md-8 col-sm-7">
						<div class="web-section">
							
							<div class="columns_service column-with-button-page-service">
<div class="border_service3 ">
<h3><span class="ylw_service">Web Application</span><br>
Development</h3>
</div>
<div class="cols2-service">
<h3>WordPress</h3>
<p>Worked on various WordPress websites and known for high quality custom designed WordPress templates.</p>
</div>
<div class="cols2-service">
<h3>Drupal</h3>
<p>Recognized for CMS development on Drupal platform with a team of Drupal experts who are efficient in this system.</p>
</div>
<div class="cols2-service">
<h3>Joomla</h3>
<p>Offering a complete range of custom Joomla website development solutions with functionality of any complexity.</p>
</div>
<div class="buton_ser2 service_btn"><a href="/"> <button>Learn More</button> </a></div>
</div>
<div id="web-dev-serviceimg" class="service_img">
<p><img class="service-image" src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/service/service-image2.png" alt="Web Application Development" width="auto" height="auto" style="opacity: 1;"></p>
<div id="web-dev-serviceimg2"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/iconss/tbi-codes.gif" alt="Web Application Development" width="auto" height="auto" style="opacity: 1;"></div>
</div>

						</div>
					</div>
				
				</div>
			</div>
				
			<div class="" id="ecomm">
							<div class="service_development2" style="background: rgba(240, 239, 235, 0.71);">
					<div class="col-md-8 col-sm-7 no-padding">
					
						<div class="border_service2">
<h3><span class="ylw_service">Ecommerce</span><br>
Development</h3>
</div>
<div class="col-md-4 col-sm-12 no-padding">
<div class="cols1-service">
<h3>Magento</h3>
<p>Having delivered projects to our clients in various Magento versions including Magento 2.0, we are ready to serve you also.</p>
</div>
<div class="cols1-service">
<h3>BigCommerce</h3>
<p>Let us make your BigCommerce store stand out creating a difference with a customized design for pleasing shopping experiences.</p>
</div>
<div class="cols1-service">
<h3>OpenCart</h3>
<p>Approved OpenCart development company, we specialize in OpenCart and creating excellent websites.</p>
</div>
</div>
<div class="col-md-4 col-sm-12">
<div class="image-service2 tech">
<div class="outer-of-ee">
<div class="ee">
<div class="techimageecomm1 animated fadeInDown mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/techpage/ecomm/shopify.png" alt="ecommerce Development" width="auto" height="auto" style="opacity: 1;"></div>
<div class="techimageecomm2 animated fadeInDown mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/techpage/ecomm/magento.png" alt="ecommerce Development" width="auto" height="auto" style="opacity: 1;"></div>
<div class="techimageecomm3 animated fadeInDown mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/techpage/ecomm/bigcommerce.png" alt="ecommerce Development" width="auto" height="auto" style="opacity: 1;"></div>
<div class="techimageecomm11 animated fadeInRight mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/techpage/ecomm/green.png" alt="ecommerce Development" width="auto" height="auto" style="opacity: 1;"></div>
<div class="techimageecomm22 animated fadeInUp mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/techpage/ecomm/orange.png" alt="ecommerce Development" width="auto" height="auto" style="opacity: 1;"></div>
<div class="techimageecomm33 animated fadeInLeft mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/techpage/ecomm/bluee.png" alt="ecommerce Development" width="auto" height="auto" style="opacity: 1;"></div>
</div>
<div id="earthh-in" class="earthh-in animated slideInRight mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/techpage/ecomm/cart.png" alt="ecommerce cart" width="auto" height="auto" style="opacity: 1;"></div>
<div id="earth" class="earth"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/techpage/ecomm/bgn.png" alt="ecommerce environment" width="auto" height="auto" style="opacity: 1;"></div>
</div>
</div>
</div>
<div class="col-md-4 col-sm-12 column-with-button-page-service mob-no-padding">
<div class="cols2-service">
<h3>WooCommerce</h3>
<p>We offer WooCommerce Development in a fine manner that renders a charming visual all over the web.</p>
</div>
<div class="cols2-service">
<h3>shopify</h3>
<p>Shopify is a cost effective way to build powerful websites and we can use it to design a website that is customized to your business needs.</p>
</div>
<div class="cols2-service">
<h3>ZenCart</h3>
<p>Approved OpenCart development company, we specialize in OpenCart and creating excellent websites.</p>
</div>
<div class="buton_ser service_btn"><a href="/"> <button>Learn More</button> </a></div>
</div>
								
					</div>
				</div>
			</div>
				
						<div class="web-dev" id="uid-outer" style="background: ;">
				<div class="row" id="uid">
					<div class="col-md-8 col-sm-7">
						<div class="web-section">

							<div class="columns_service">
<div class="border_service3 ">
<h3><span class="ylw_service">Front End</span><br>
Development</h3>
</div>
<div class="cols2-service">
<h3>Mockup Creation</h3>
<p>Our mockup creation helps to create and collaborate the wire frames, diagrams and prototypes.</p>
</div>
<div class="cols2-service">
<h3>CSS3</h3>
<p>We create CSS3 website template that are totally ready for you to use for your website.</p>
</div>
<div class="cols2-service">
<h3>HTML5</h3>
<p>We leave a lasting impression that seamlessly integrates with all other materials using HTML5</p>
</div>
<div class="cols2-service">
<h3>Banners Designing</h3>
<p>Leading designing company with experienced designers who excel in creating high quality banners.</p>
</div>
<div class="cols2-service">
<h3>PSD to HTML5</h3>
<p>In the empire of PSD to HTML5 services providers, we have attained an influential position.</p>
</div>
<div class="buton_ser3 service_btn"><a href="/"><button>Learn More</button></a></div>
</div>
<div class="uid-service-outer">
<div id="userinterface" class="service_img_uid animated pulse"><img class="service-image4" src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/iconss/pc.png" alt="user interface Development" width="auto" height="auto" style="opacity: 1;"></div>
<div class="uid-img1" style="opacity: 1;"><img width="auto" height="auto" src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/iconss/cup.png" class="animated fadeInRight"></div>
<div class="uid-img2" style="opacity: 1;"><img width="auto" height="auto" src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/iconss/small-phn.png" class="animated shake"></div>
<div class="uid-img3" style="opacity: 1;"><img width="auto" height="auto" src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/iconss/copy.png" class="animated swing"></div>
<div class="uid-img4" style="opacity: 1;"><img width="auto" height="auto" src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/iconss/specs.png" class="animated pulse"></div>
<div class="uid-img5" style="opacity: 1;"><img width="auto" height="auto" src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/iconss/scissor.png" class="animated bounce"></div>
</div>
							
						</div>
					</div>
				
				</div>
			</div>
				
			<div class="" id="webmarket">
							<div class="service_development" style="background: rgba(240, 239, 235, 0.71);">
					<div class="col-md-8 col-sm-7 service_stop_form no-padding">
					
						<div class="border_service2">
<h3><span class="ylw_service">Web</span><br>
Marketing</h3>
</div>
<div class="col-md-4 col-sm-12 no-padding">
<div class="cols1-service">
<h3>On Site SEO</h3>
<p>TBI can help you in setting up solid and visually appealing website to establishing it in search results.</p>
</div>
<div class="cols1-service">
<h3>Social Media Integration</h3>
<p>Creating more leads by letting our SEO experts optimize your website for better rankings and rates of conversion.</p>
</div>
<div class="cols1-service">
<h3>Google Analytics</h3>
<p>We use this powerful tool to uncover a tremendous amount of data about the website that is used to increase your marketing strategies.</p>
</div>
</div>
<div class="col-md-4 col-sm-12 image-with-button">
<div class="webmarket-service-outer image-service2 tech">
<div class="web-mar-images1">
<div class="web-mar-images1a animated fadeInLeft mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/service/social.png" alt="web marketing fb" width="auto" height="auto" style="opacity: 1;"></div>
<div class="web-mar-images1b animated fadeInLeft mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/service/social-2.png" alt="web marketing twitter" width="auto" height="auto" style="opacity: 1;"></div>
<div class="web-mar-images1c animated fadeInLeft mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/service/social-1.png" alt="web marketing linkedin" width="auto" height="auto" style="opacity: 1;"></div>
</div>
<div class="web-mar-images2">
<div class="web-mar-images2a animated fadeIn mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/service/m-3.png" alt="web marketing" width="auto" height="auto" style="opacity: 1;"></div>
<div class="web-mar-images2b animated fadeIn mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/service/m-2.png" alt="web marketing" width="auto" height="auto" style="opacity: 1;"></div>
<div class="web-mar-images2c animated fadeIn mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/service/m-4.png" alt="web marketing" width="auto" height="auto" style="opacity: 1;"></div>
<div class="web-mar-images2d animated fadeIn mee"><img src="https://www.brihaspatitech.com/wp-content/themes/TBI/images/service/m1.png" alt="web marketing" width="auto" height="auto" style="opacity: 1;"></div>
</div>
</div>
<div class="buton_ser4 service_btn"><a href="/"><button>Learn More</button></a></div>
</div>
<div class="col-md-4 col-sm-12 mob-no-padding">
<div class="cols2-service">
<h3>Off Site SEO</h3>
<p>We offer safe and effective SEO methods for your websites that have already benefited many online businesses.</p>
</div>
<div class="cols2-service">
<h3>Email Campaigns</h3>
<p>Specialize in assisting businesses tackle the power of the internet for marketing to initiate business processes.</p>
</div>
<div class="cols2-service">
<h3>Video Campaigns</h3>
<p>Our experts do wonders through video campaigning to increase content engagement and click through rates.</p>
</div>
</div>
</div>
								
					</div>
					
										</div>
		<div class="row col-md-4 col-sm-3">
						
							<div class="right_side servicepage">
								<div class="contact_form">
									<section id="text-7" class="widget widget_text amr_widget">			
										<div class="textwidget">
 <%= render "enquiries/second_form", enquiry: @enquiry%><script type="text/javascript">
window.cfields = {"1":"your_message","14":"url","13":"page"};
window._show_thank_you = function(id, message, trackcmp_url) {
  var form = document.getElementById('_form_' + id + '_'), thank_you = form.querySelector('._form-thank-you');
  form.querySelector('._form-content').style.display = 'none';
  thank_you.innerHTML = message;
  thank_you.style.display = 'block';
  if (typeof(trackcmp_url) != 'undefined' && trackcmp_url) {
    // Site tracking URL to use after inline form submission.
    _load_script(trackcmp_url);
  }
  if (typeof window._form_callback !== 'undefined') window._form_callback(id);
};
window._show_error = function(id, message, html) {
  var form = document.getElementById('_form_' + id + '_'), err = document.createElement('div'), button = form.querySelector('button'), old_error = form.querySelector('._form_error');
  if (old_error) old_error.parentNode.removeChild(old_error);
  err.innerHTML = message;
  err.className = '_error-inner _form_error _no_arrow';
  var wrapper = document.createElement('div');
  wrapper.className = '_form-inner';
  wrapper.appendChild(err);
  button.parentNode.insertBefore(wrapper, button);
  document.querySelector('[id^="_form"][id$="_submit"]').disabled = false;
  if (html) {
    var div = document.createElement('div');
    div.className = '_error-html';
    div.innerHTML = html;
    err.appendChild(div);
  }
};
window._load_script = function(url, callback) {
    var head = document.querySelector('head'), script = document.createElement('script'), r = false;
    script.type = 'text/javascript';
    script.charset = 'utf-8';
    script.src = url;
    if (callback) {
      script.onload = script.onreadystatechange = function() {
      if (!r && (!this.readyState || this.readyState == 'complete')) {
        r = true;
        callback();
        }
      };
    }
    head.appendChild(script);
};
(function() {
  if (window.location.search.search("excludeform") !== -1) return false;
  var getCookie = function(name) {
    var match = document.cookie.match(new RegExp('(^|; )' + name + '=([^;]+)'));
    return match ? match[2] : null;
  }
  var setCookie = function(name, value) {
    var now = new Date();
    var time = now.getTime();
    var expireTime = time + 1000 * 60 * 60 * 24 * 365;
    now.setTime(expireTime);
    document.cookie = name + '=' + value + '; expires=' + now + ';path=/';
  }
      var addEvent = function(element, event, func) {
    if (element.addEventListener) {
      element.addEventListener(event, func);
    } else {
      var oldFunc = element['on' + event];
      element['on' + event] = function() {
        oldFunc.apply(this, arguments);
        func.apply(this, arguments);
      };
    }
  }
  var _removed = false;
  var form_to_submit = document.getElementById('_form_53_');
  var allInputs = form_to_submit.querySelectorAll('input, select, textarea'), tooltips = [], submitted = false;

  var getUrlParam = function(name) {
    var regexStr = '[\?&]' + name + '=([^&#]*)';
    var results = new RegExp(regexStr, 'i').exec(window.location.href);
    return results != undefined ? decodeURIComponent(results[1]) : false;
  };

  for (var i = 0; i < allInputs.length; i++) {
    var regexStr = "field\\[(\\d+)\\]";
    var results = new RegExp(regexStr).exec(allInputs[i].name);
    if (results != undefined) {
      allInputs[i].dataset.name = window.cfields[results[1]];
    } else {
      allInputs[i].dataset.name = allInputs[i].name;
    }
    var fieldVal = getUrlParam(allInputs[i].dataset.name);

    if (fieldVal) {
      if (allInputs[i].type == "radio" || allInputs[i].type == "checkbox") {
        if (allInputs[i].value == fieldVal) {
          allInputs[i].checked = true;
        }
      } else {
        allInputs[i].value = fieldVal;
      }
    }
  }

  var remove_tooltips = function() {
    for (var i = 0; i < tooltips.length; i++) {
      tooltips[i].tip.parentNode.removeChild(tooltips[i].tip);
    }
      tooltips = [];
  };
  var remove_tooltip = function(elem) {
    for (var i = 0; i < tooltips.length; i++) {
      if (tooltips[i].elem === elem) {
        tooltips[i].tip.parentNode.removeChild(tooltips[i].tip);
        tooltips.splice(i, 1);
        return;
      }
    }
  };
  var create_tooltip = function(elem, text) {
    var tooltip = document.createElement('div'), arrow = document.createElement('div'), inner = document.createElement('div'), new_tooltip = {};
    if (elem.type != 'radio' && elem.type != 'checkbox') {
      tooltip.className = '_error';
      arrow.className = '_error-arrow';
      inner.className = '_error-inner';
      inner.innerHTML = text;
      tooltip.appendChild(arrow);
      tooltip.appendChild(inner);
      elem.parentNode.appendChild(tooltip);
    } else {
      tooltip.className = '_error-inner _no_arrow';
      tooltip.innerHTML = text;
      elem.parentNode.insertBefore(tooltip, elem);
      new_tooltip.no_arrow = true;
    }
    new_tooltip.tip = tooltip;
    new_tooltip.elem = elem;
    tooltips.push(new_tooltip);
    return new_tooltip;
  };
  var resize_tooltip = function(tooltip) {
    var rect = tooltip.elem.getBoundingClientRect();
    var doc = document.documentElement, scrollPosition = rect.top - ((window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0));
    if (scrollPosition < 40) {
      tooltip.tip.className = tooltip.tip.className.replace(/ ?(_above|_below) ?/g, '') + ' _below';
    } else {
      tooltip.tip.className = tooltip.tip.className.replace(/ ?(_above|_below) ?/g, '') + ' _above';
    }
  };
  var resize_tooltips = function() {
    if (_removed) return;
    for (var i = 0; i < tooltips.length; i++) {
      if (!tooltips[i].no_arrow) resize_tooltip(tooltips[i]);
    }
  };
  var validate_field = function(elem, remove) {
    var tooltip = null, value = elem.value, no_error = true;
    remove ? remove_tooltip(elem) : false;
    if (elem.type != 'checkbox') elem.className = elem.className.replace(/ ?_has_error ?/g, '');
    if (elem.getAttribute('required') !== null) {
      if (elem.type == 'radio' || (elem.type == 'checkbox' && /any/.test(elem.className))) {
        var elems = form_to_submit.elements[elem.name];
        if (!(elems instanceof NodeList || elems instanceof HTMLCollection) || elems.length <= 1) {
          no_error = elem.checked;
        }
        else {
          no_error = false;
          for (var i = 0; i < elems.length; i++) {
            if (elems[i].checked) no_error = true;
          }
        }
        if (!no_error) {
          tooltip = create_tooltip(elem, "Please select an option.");
        }
      } else if (elem.type =='checkbox') {
        var elems = form_to_submit.elements[elem.name], found = false, err = [];
        no_error = true;
        for (var i = 0; i < elems.length; i++) {
          if (elems[i].getAttribute('required') === null) continue;
          if (!found && elems[i] !== elem) return true;
          found = true;
          elems[i].className = elems[i].className.replace(/ ?_has_error ?/g, '');
          if (!elems[i].checked) {
            no_error = false;
            elems[i].className = elems[i].className + ' _has_error';
            err.push("Checking %s is required".replace("%s", elems[i].value));
          }
        }
        if (!no_error) {
          tooltip = create_tooltip(elem, err.join('<br/>'));
        }
      } else if (elem.tagName == 'SELECT') {
        var selected = true;
        if (elem.multiple) {
          selected = false;
          for (var i = 0; i < elem.options.length; i++) {
            if (elem.options[i].selected) {
              selected = true;
              break;
            }
          }
        } else {
          for (var i = 0; i < elem.options.length; i++) {
            if (elem.options[i].selected && !elem.options[i].value) {
              selected = false;
            }
          }
        }
        if (!selected) {
          elem.className = elem.className + ' _has_error';
          no_error = false;
          tooltip = create_tooltip(elem, "Please select an option.");
        }
      } else if (value === undefined || value === null || value === '') {
        elem.className = elem.className + ' _has_error';
        no_error = false;
        tooltip = create_tooltip(elem, "This field is required.");
      }
    }
    if (no_error && elem.name == 'email') {
      if (!value.match(/^[\+_a-z0-9-'&=]+(\.[\+_a-z0-9-']+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,})$/i)) {
        elem.className = elem.className + ' _has_error';
        no_error = false;
        tooltip = create_tooltip(elem, "Enter a valid email address.");
      }
    }
    if (no_error && /date_field/.test(elem.className)) {
      if (!value.match(/^\d\d\d\d-\d\d-\d\d$/)) {
        elem.className = elem.className + ' _has_error';
        no_error = false;
        tooltip = create_tooltip(elem, "Enter a valid date.");
      }
    }
    tooltip ? resize_tooltip(tooltip) : false;
    return no_error;
  };
  var needs_validate = function(el) {
    return el.name == 'email' || el.getAttribute('required') !== null;
  };
  var validate_form = function(e) {
    var err = form_to_submit.querySelector('._form_error'), no_error = true;
    if (!submitted) {
      submitted = true;
      for (var i = 0, len = allInputs.length; i < len; i++) {
        var input = allInputs[i];
        if (needs_validate(input)) {
          if (input.type == 'text') {
            addEvent(input, 'blur', function() {
              this.value = this.value.trim();
              validate_field(this, true);
            });
            addEvent(input, 'input', function() {
              validate_field(this, true);
            });
          } else if (input.type == 'radio' || input.type == 'checkbox') {
            (function(el) {
              var radios = form_to_submit.elements[el.name];
              for (var i = 0; i < radios.length; i++) {
                addEvent(radios[i], 'click', function() {
                  validate_field(el, true);
                });
              }
            })(input);
          } else if (input.tagName == 'SELECT') {
            addEvent(input, 'change', function() {
              validate_field(this, true);
            });
          }
        }
      }
    }
    remove_tooltips();
    for (var i = 0, len = allInputs.length; i < len; i++) {
      var elem = allInputs[i];
      if (needs_validate(elem)) {
        if (elem.tagName.toLowerCase() !== "select") {
          elem.value = elem.value.trim();
        }
        validate_field(elem) ? true : no_error = false;
      }
    }
    if (!no_error && e) {
      e.preventDefault();
    }
    resize_tooltips();
    return no_error;
  };
  addEvent(window, 'resize', resize_tooltips);
  addEvent(window, 'scroll', resize_tooltips);
  window['recaptcha_callback'] = function() {
  // Get all recaptchas in the DOM (there may be more than one form on the page).
  var recaptchas = document.getElementsByClassName("g-recaptcha");
  for (var i in recaptchas) {
    // Set the recaptcha element ID, so the recaptcha can be applied to each element.
    var recaptcha_id = "recaptcha_" + i;
    recaptchas[i].id = recaptcha_id;
    var el = document.getElementById(recaptcha_id);
    if (el != null) {
      var sitekey = el.getAttribute("data-sitekey");
      var stoken = el.getAttribute("data-stoken");
      grecaptcha.render(recaptcha_id, {"sitekey":sitekey,"stoken":stoken});
    }
  }
};  _load_script("//www.google.com/recaptcha/api.js?onload=recaptcha_callback&render=explicit");
  window._old_serialize = null;
  if (typeof serialize !== 'undefined') window._old_serialize = window.serialize;
  _load_script("//d3rxaij56vjege.cloudfront.net/form-serialize/0.3/serialize.min.js", function() {
    window._form_serialize = window.serialize;
    if (window._old_serialize) window.serialize = window._old_serialize;
  });
  var form_submit = function(e) {
    e.preventDefault();
    if (validate_form()) {
      // use this trick to get the submit button & disable it using plain javascript
      document.querySelector('[id^="_form"][id$="_submit"]').disabled = true;
            var serialized = _form_serialize(document.getElementById('_form_53_'));
      var err = form_to_submit.querySelector('._form_error');
      err ? err.parentNode.removeChild(err) : false;
      _load_script('https://thebrihaspatiinfotech70931.activehosted.com/proc.php?' + serialized + '&jsonp=true');
    }
    return false;
  };
  addEvent(form_to_submit, 'submit', form_submit);
})();

</script></div>
		</section>			
							
						</div>

							</div>
						
					</div>
				</div>
			</div>
				


		</div>
				
		
	</main></div>
</div>
		



			
	<!-- .site-main -->

	

</div>
<script type="text/javascript">
					$(window).scroll(function() {    
    var scroll = $(window).scrollTop();

     //>=, not <=
    if (scroll >= 3450) {
        //clearHeader, not clearheader - caps H
       $('.right_side.servicepage').fadeOut();
       $('.right_side.servicepage').addClass("p_fixed");
    }else{
    	$('.right_side.servicepage').fadeIn();
    	 $('.right_side.servicepage').removeClass("p_fixed");
    }
}); //missing );
				</script>