<style>
.site-main {
		margin-top: 104px;
	}
     #over img {
		margin-left: auto;
		margin-right: auto;
		display: block; 
	}
</style>
<div id="page" class="site">
	<div id="content" class="site-content">
		<div id="primary" class="content-area">
			<main id="main" class="site-main" role="main">
<div class="container">
<div class="row">
<div class="col-md-12">
<div><h2>Update from Magento 1 to Magento 2</h2></div>
<div class="text-pre">
<p class="service_info">Magento Migration – Magento 1 support is ending putting your ecommerce website at risk. Upgrade to Magento 2 to protect your ecommerce store.</p>
</div>
<div id="over">
<img class="img-responsive" src="/assets/migrateMagento.jpg" alt="Magento Upgrade">
</div>
<div class="text-pre">
<p class="service_info">Migrating to Magento 2 is more akin to developing a new site from scratch, than a simple upgrade. Malibu IT Labs development team should engage with your marketing and operations teams for the pre-launch planning and post launch testing, Our complete SEO checklist compliance procedure will ensure your site’s SEO heritage ranking and reputation transitions fully to your newly launched site on the new Magento 2 platform.</p>
<p class="service_info">Migrating to Magento 2 requires lots of technical expertise. Malibu IT Labs years of experience with Magento provides you with a team skilled in the migration process, including pre-migration analysis, review of extensions/plug-ins and planning their migration, creating and fulfilling a holistic migration execution, followed by adjustment configurations and testing on our test server before deployment to your live site.</p>
</div>
<h2>Additional Benefits of Magento 2:</h2>
<ul class="col-md-4">
<li>Continued Future Upgrade Releases</li>
<li>EMAIL Marketing Automation</li>
<li>Intuitive Admin Backend</li>
</ul>
<ul class="col-md-4">
<li>Advanced Reporting Infrastructure</li>
<li>More Product Configuration Features</li>
</ul>
</div>
</div>
</div>
</main>
</div>
</div>
</div>