<div id="page" class="site">
	
			<div id="content" class="site-content">

<div id="primary" class="content-area">
	<main id="main" class="site-main" role="main"> 
		

		<div class="banner inner_banner inner_banner1" style="background:#0D3D60;">
			<div class="bannerinner_outer" id="banner_image_on_bg282">

				<div class="banner_text_inner mobile-text">
						
					<h1><span class="ylw_service">Application</span> Development</h1><ul><li>Over 3 years of experience.</li><li>Known to deliver highly aesthetical user interfaces using advanced web technologies.</li><li>Clean, documented and W3C compliant code in minimal turnaround time.</li></ul>				
				</div>
				<div class="banner_image_on_bg">
					<img src="https://www.brihaspatitech.com/wp-content/uploads/2017/01/Front-End-Development.png" alt="header_image" style="opacity: 1;">
				</div>

			</div>
		</div>
		
		<div class="my_breadcrumbs"><a href="#bt-slick" class="btm-slider"><p class="arrow"><i class="fa fa-angle-double-down" aria-hidden="true"></i></p></a><ul id="breadcrumbs" class="breadcrumbs"><li class="item-home"><a class="bread-link bread-home" href="/" title="Homepage">Homepage</a></li><li class="separator separator-home"> / </li><li class="item-parent item-parent-207"><a class="bread-parent bread-parent-207" href="../services" title="Services">Services</a></li><li class="separator separator-207"> / </li><li class="item-current item-282"><strong title="Front End Development"> Application Development</strong></li></ul></div>

				
		<div class="about_content2 mobile-new">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-8 col-sm-7">
							
						<p class="service_info"><span class="service_info_first_word">C</span>reating an appealing and relevant web design is the foremost requirement for a business to excel online. It is important for any business to create an efficient website that presents information in illustrated and precise manner.</p>
<p class="service_info">At The Malibu IT Labs, we have a talented and creative team of web designers who work consistently to transform your vision into reality. Our core designer team specializes in mock-up creation for web &amp; mobile applications, user interface wire frames, PSD to HTML slicing and have rich knowledge in HTML5 mark-ups. Our web designers and developers follow standardized guidelines laid down by W3C for web, Apple for iOS, and guidelines for android applications. Our web designing team understands the requirements of different businesses and caters to all the needs with full enthusiasm.</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="development">
			<div class="container-fluid">
				
				
					<div class="row">
						
												
						<div class="application_development" style="background: rgba(240, 239, 235, 0.71);">

													
							<div class="col-md-8 col-sm-7">
								<div class="application-section">
									
									<div class="border">
<h2><span class="ylw_mobile">Services We Offer in </span> Front End Development</h2>
</div>
<ul>
<li>Custom web designs that will make the website function as per client’s satisfaction</li>
<li>Custom integrations with specific modules depending upon basic requirements of your business</li>
<li>PSD to HTML conversion services with pixel perfect HTML/XHTML pages</li>
<li>Marketing of your website on internet by using through techniques like search engine optimization, social media marketing</li>
<li>Creating responsive website designs compatible to the screens of all dimensions</li>
<li>Our designers specialize in graphic web designs, landing page designs and banner designs</li>
</ul>
<p class="service_info">Our web design company has proven track record of delivering customized designs matching client’s requirements at all ends. With your creative, clean and organized website design you can impress, retain and turn visitors into consistent users.</p>

								</div>
							</div>

						
						</div>	
					</div>

				
		
				<div id="psd-to-responsive-html"></div>					
					<div class="android-dev ft-first-box" id="mob-app-android-dev-outer" style="background: ;">
						<div class="row mobapp_page_inner" id="mob-app-android-dev-inner">
							
								<div class="col-md-8 col-sm-7">
									<div id="" class="border2">
<h3><span class="ylw_mobile">PSD </span><br>
to Responsive HTML</h3>
</div>
<div class="col-md-4 col-sm-12 margin-top no-padding">
<div class="cols1">
<h3>Improve Page Loading Time</h3>
<p>Our web design experts improves the page loading time, keeping it below 3 seconds, with latest technical processes, without compromising the beauty and excellence of designing.</p>
</div>
<div class="cols1">
<h3>W3C Compliant</h3>
<p>Our HTML code is W3C compliant, enhancing the overall performance of the website.</p>
</div>
<div class="cols1">
<h3>Pixel Perfection</h3>
<p>The HTML rendering is pixel perfect which ensures the maintenance of PSD quality files. The code is light and fast.</p>
</div>
</div>
<div class="col-md-4 col-sm-12">
<div class="image-section2"><img src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="android web development" width="auto" height="auto" imageholder="https://www.brihaspatitech.com/wp-content/themes/TBI/images/inner/frontend/css.png"></div>
</div>
<div class="col-md-4 col-sm-12 margin-top column-with-button mob-no-padding">
<div class="cols2">
<h3>Markup</h3>
<p>Our HTML markups are 100% hand-coded by our experts. They follow present industry standards and are vetted by senior developers to ensure complete compliance.</p>
</div>
<div class="cols2">
<h3>Integration</h3>
<p>Irrespective of the nature of PSD to HTML conversion (email templates or website layout), our solutions integrate with latest industry software.</p>
</div>
</div>
								</div>

							
						</div>
					</div>

								

				<div id="sketch-to-html"></div>				
					<div class="row  ft-second-box" id="mob-app-ios-dev-outer">
					
											<div class="application_development second_page_inner" id="mob-app-ios-dev-inner" style="background: rgba(240, 239, 235, 0.71);">
						
													
							<div class="col-md-8 col-sm-7">
								<div class="ios-section">
									<div id="" class="columns">
<div class="border3">
<h3><span class="ylw_mobile">Sketch </span><br>
to HTML</h3>
</div>
<div class="cols2">
<h3>Semantic Markup</h3>
<p>Semantic or commented markup is offered to ensure future customization with new projects.</p>
</div>
<div class="cols2">
<h3>Multipurpose Markup</h3>
<p>The Sketch to HTML files are cross-device and cross-browser compatible, and organized over various coding platforms.</p>
</div>
<div class="cols2">
<h3>Smaller File Size</h3>
<p>Resultant HTML file is smaller in size and loads faster. We optimize the code and CSS for SEO purposes.</p>
</div>
<div class="cols2">
<h3>Manual Coding</h3>
<p>All the HTML codes are manually created, building XHTML properties from scratch.</p>
</div>
<div class="cols2">
<h3>Advanced Communication</h3>
<p>Our team deploys advanced communication system to ensure you’re constantly on the development loop, encouraging feedback and changes.</p>
</div>
</div>
<div class="ios-mob-app-service"><img class="ios" src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="html 5" width="auto" height="auto" imageholder="/wp-content/themes/TBI/images/inner/frontend/html.png"></div>
										
								</div>
							</div>

						
						</div>
					</div>

								

				<div id="psd-to-html5"></div>				
					<div class="android-dev  ft-third-box" id="mob-app-crossplate-dev-outer" style="background: ;">

						<div class="row" id="mob-app-crossplate-dev-inner">

													
							<div class="col-md-8 col-sm-7">
								<div id="" class="border4">
<h3><span class="ylw_mobile">PSD </span><br>
to HTML5</h3>
</div>
<div class="col-md-4 col-sm-12 margin-top">
<div class="cols1">
<h3>SEO Semantic</h3>
<p>Our code markup complies with SEO standards, boosting your website presence in the search engines naturally.</p>
</div>
<div class="cols1">
<h3>HTML5 Markup</h3>
<p>All the codes are manually created by the expert team, a certain advantage for you against companies employing machine coded HTML.</p>
</div>
<div class="cols1">
<h3>CMS Markup</h3>
<p>All our HTML5 filles suits the CMS platforms readily available, removing the need for you to create different CMS compatible files. Seamlessly use our files on softwares like Drupal, Joomla, WordPress and more.</p>
</div>
</div>
<div class="col-md-4 col-sm-12">
<div class="image-section2"><img class="psd_html" src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="psd to html 5" width="auto" height="auto" imageholder="https://www.brihaspatitech.com/wp-content/themes/TBI/images/inner/frontend/psd-to-html.png"></div>
</div>
<div class="col-md-4 col-sm-12 margin-top column-with-button">
<div class="cols2">
<h3>Responsiveness</h3>
<p>The HTML5 code is mobile responsive and requires minimal coding. They are checked against devices for compatibility.</p>
</div>
<div class="cols2">
<h3>Pagespeed Optimization</h3>
<p>Get the highest page loading speed in the industry with our conversion services. A minimum page loading score of 85% is guaranteed.</p>
</div>
</div>
							</div>

						
						</div>
					</div>

							
				<div id="less"></div>					
					<div class="row ft-fourth-box">
					
											
						<div class="application_development" style="background: rgba(240, 239, 235, 0.71);">

						
							<div class="col-md-8 col-sm-7">
								
								<div class="ios-section">
									
									<div id="" class="columns">
<div class="border5">
<h3><span class="ylw_mobile">Less </span></h3>
</div>
<div class="cols2">
<h3>Pixel Perfection</h3>
<p>Team ensure pixel precise conversion with hand coding and LESS CSS coding. The final version is an exact match of the design.</p>
</div>
<div class="cols2">
<h3>Software Integration</h3>
<p>Our designs can be implemented with all CMS, blogs, and shopping carts.</p>
</div>
<div class="cols2">
<h3>Commented HTML</h3>
<p>Team employs highest valid W3C markup, complying with SEO semantic coding and shorthand CSS. Working with your old code for re-slicing is possible.</p>
</div>
</div>
<div class="mobile-web-mob-app-dev-service front"><img class="web" src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="responsive-mobile-development" width="auto" height="auto" imageholder="https://www.brihaspatitech.com/wp-content/themes/TBI/images/inner/frontend/less.png"></div>

								</div>
							</div>

						
						</div>		
				
					</div>

				
				<div id="sass"></div>
					<div class="android-dev ft-fifth-box" style="background: #ffffff;" id="small-space">

						<div class="row">
							
							
								<div class="col-md-8 col-sm-7 service_stop_form">
									<div id="" class="border4">
<h3><span class="ylw_mobile">Sass </span></h3>
</div>
<div class="col-md-4 col-sm-12 margin-top">
<div class="cols1">
<h3>Responsive Development</h3>
<p>Tested for compatibility and technical standards for compliance. Pixel perfect and cross browser compatible with strong in-house QA department.</p>
</div>
<div class="cols1">
<h3>Certified Developers</h3>
<p>One of the best SASS development team is here. Rendering file quality files for maximum website display is maintained. We deal with file formats such as PDF, Sketch, PNG, JPG, AI and more.</p>
</div>
</div>
<div class="col-md-4 col-sm-12">
<div class="image-section2"><img src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="sass" width="auto" height="auto" imageholder="https://www.brihaspatitech.com/wp-content/themes/TBI/images/inner/frontend/sass.png"></div>
</div>
<div class="col-md-4 col-sm-12 margin-top column-with-button">
<div class="cols2">
<h3>Quick Turnaround</h3>
<p>Our team is Six Sigma certified and irrespective of the operational timezones, the team is available for a quick and valuable turnaround schedule.</p>
</div>
</div>
								</div>

								<div class="row col-md-4 col-sm-3">
								
										<div class="right_side servicepage">
											<div class="contact_form">
												<section id="text-7" class="widget widget_text amr_widget">			<div class="textwidget"><style>
 #_form_53_ { font-size:14px; line-height:1.6; font-family:arial, helvetica, sans-serif; margin:0; }
 #_form_53_ * { outline:0; }
 ._form_hide { display:none; visibility:hidden; }
 ._form_show { display:block; visibility:visible; }
 #_form_53_._form-top { top:0; }
 #_form_53_._form-bottom { bottom:0; }
 #_form_53_._form-left { left:0; }
 #_form_53_._form-right { right:0; }
 #_form_53_ input[type="text"],#_form_53_ input[type="date"],#_form_53_ textarea { padding:6px; height:auto; border:#979797 1px solid; border-radius:4px; color:#000 !important; font-size:13px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
 #_form_53_ textarea { resize:none; }
 #_form_53_ ._submit { -webkit-appearance:none; cursor:pointer; font-family:arial, sans-serif; font-size:14px; text-align:center; background:#fc0 !important; border:0 !important; -moz-border-radius:4px !important; -webkit-border-radius:4px !important; border-radius:4px !important; color:#444 !important; padding:15px !important; }
 #_form_53_ ._close-icon { cursor:pointer; background-image:url('https://d226aj4ao1t61q.cloudfront.net/esfkyjh1u_forms-close-dark.png'); background-repeat:no-repeat; background-size:14.2px 14.2px; position:absolute; display:block; top:11px; right:9px; overflow:hidden; width:16.2px; height:16.2px; }
 #_form_53_ ._close-icon:before { position:relative; }
 #_form_53_ ._form-body { margin-bottom:30px; }
 #_form_53_ ._form-image-left { width:150px; float:left; }
 #_form_53_ ._form-content-right { margin-left:164px; }
 #_form_53_ ._form-branding { color:#fff; font-size:10px; clear:both; text-align:left; margin-top:30px; font-weight:100; }
 #_form_53_ ._form-branding ._logo { display:block; width:130px; height:14px; margin-top:6px; background-image:url('https://d226aj4ao1t61q.cloudfront.net/hh9ujqgv5_aclogo_li.png'); background-size:130px auto; background-repeat:no-repeat; }
 #_form_53_ ._form-label,#_form_53_ ._form_element ._form-label { font-weight:bold; margin-bottom:5px; display:block; }
 #_form_53_._dark ._form-branding { color:#333; }
 #_form_53_._dark ._form-branding ._logo { background-image:url('https://d226aj4ao1t61q.cloudfront.net/jftq2c8s_aclogo_dk.png'); }
 #_form_53_ ._form_element { position:relative; margin-bottom:10px; font-size:0; max-width:100%; }
 #_form_53_ ._form_element * { font-size:14px; }
 #_form_53_ ._form_element._clear { clear:both; width:100%; float:none; }
 #_form_53_ ._form_element._clear:after { clear:left; }
 #_form_53_ ._form_element input[type="text"],#_form_53_ ._form_element input[type="date"],#_form_53_ ._form_element select,#_form_53_ ._form_element textarea:not(.g-recaptcha-response) { display:block; width:100%; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; }
 #_form_53_ ._field-wrapper { position:relative; }
 #_form_53_ ._inline-style { float:left; }
 #_form_53_ ._inline-style input[type="text"] { width:150px; }
 #_form_53_ ._inline-style:not(._clear) + ._inline-style:not(._clear) { margin-left:20px; }
 #_form_53_ ._form_element img._form-image { max-width:100%; }
 #_form_53_ ._clear-element { clear:left; }
 #_form_53_ ._full_width { width:100%; }
 #_form_53_ ._form_full_field { display:block; width:100%; margin-bottom:10px; }
 #_form_53_ input[type="text"]._has_error,#_form_53_ textarea._has_error { border:#f37c7b 1px solid; }
 #_form_53_ input[type="checkbox"]._has_error { outline:#f37c7b 1px solid; }
 #_form_53_ ._error { display:block; position:absolute; font-size:13px; z-index:10000001; }
 #_form_53_ ._error._above { padding-bottom:4px; top:-41px; right:0; }
 #_form_53_ ._error._below { padding-top:4px; top:100%; right:0; }
 #_form_53_ ._error._above ._error-arrow { bottom:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-top:5px solid #f37c7b; }
 #_form_53_ ._error._below ._error-arrow { top:0; right:15px; border-left:5px solid transparent; border-right:5px solid transparent; border-bottom:5px solid #f37c7b; }
 #_form_53_ ._error-inner { padding:8px 12px; background-color:#f37c7b; font-size:13px; font-family:arial, sans-serif; color:#fff; text-align:center; text-decoration:none; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; }
 #_form_53_ ._error-inner._form_error { margin-bottom:5px; text-align:left; }
 #_form_53_ ._button-wrapper ._error-inner._form_error { position:static; }
 #_form_53_ ._error-inner._no_arrow { margin-bottom:10px; }
 #_form_53_ ._error-arrow { position:absolute; width:0; height:0; }
 #_form_53_ ._error-html { margin-bottom:10px; }
 .pika-single { z-index:10000001 !important; }
 @media all and (min-width:320px) and (max-width:667px) { ::-webkit-scrollbar { display:none; }
 #_form_53_ { margin:0; width:100%; min-width:100%; max-width:100%; box-sizing:border-box; }
 #_form_53_ * { -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; font-size:1em; }
 #_form_53_ ._form-content { margin:0; width:100%; }
 #_form_53_ ._form-inner { display:block; min-width:100%; }
 #_form_53_ ._form-title,#_form_53_ ._inline-style { margin-top:0; margin-right:0; margin-left:0; }
 #_form_53_ ._form-title { font-size:1.2em; }
 #_form_53_ ._form_element { margin:0 0 20px; padding:0; width:100%; }
 #_form_53_ ._form-element,#_form_53_ ._inline-style,#_form_53_ input[type="text"],#_form_53_ label,#_form_53_ p,#_form_53_ textarea:not(.g-recaptcha-response) { float:none; display:block; width:100%; }
 #_form_53_ ._row._checkbox-radio label { display:inline; }
 #_form_53_ ._row,#_form_53_ p,#_form_53_ label { margin-bottom:0.7em; width:100%; }
 #_form_53_ ._row input[type="checkbox"],#_form_53_ ._row input[type="radio"] { margin:0 !important; vertical-align:middle !important; }
 #_form_53_ ._row input[type="checkbox"] + span label { display:inline; }
 #_form_53_ ._row span label { margin:0 !important; width:initial !important; vertical-align:middle !important; }
 #_form_53_ ._form-image { max-width:100%; height:auto !important; }
 #_form_53_ input[type="text"] { padding-left:10px; padding-right:10px; font-size:16px; line-height:1.3em; -webkit-appearance:none; }
 #_form_53_ input[type="radio"],#_form_53_ input[type="checkbox"] { display:inline-block; width:1.3em; height:1.3em; font-size:1em; margin:0 0.3em 0 0; vertical-align:baseline; }
 #_form_53_ button[type="submit"] { padding:20px; font-size:1.5em; }
 #_form_53_ ._inline-style { margin:20px 0 0 !important; }
 }
 #_form_53_ { position:relative; text-align:left; margin:25px auto 0; padding:20px; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; box-sizing:border-box; *zoom:1; background:transparent !important; border:0px solid #b0b0b0 !important; width:500px; -moz-border-radius:10px !important; -webkit-border-radius:10px !important; border-radius:10px !important; color:#000 !important; }
 #_form_53_ ._form-title { font-size:22px; line-height:22px; font-weight:600; margin-bottom:0; }
 #_form_53_:before,#_form_53_:after { content:" "; display:table; }
 #_form_53_:after { clear:both; }
 #_form_53_._inline-style { width:auto; display:inline-block; }
 #_form_53_._inline-style input[type="text"],#_form_53_._inline-style input[type="date"] { padding:10px 12px; }
 #_form_53_._inline-style button._inline-style { position:relative; top:27px; }
 #_form_53_._inline-style p { margin:0; }
 #_form_53_._inline-style ._button-wrapper { position:relative; margin:27px 12.5px 0 20px; }
 #_form_53_ ._form-thank-you { position:relative; left:0; right:0; text-align:center; font-size:18px; }
 @media all and (min-width:320px) and (max-width:667px) { #_form_53_._inline-form._inline-style ._inline-style._button-wrapper { margin-top:20px !important; margin-left:0 !important; }
 }

 #_form_53_ #_form_59BA46D52FB5A_ ._form-thank-you { font-size:28px; left:0; position:relative; right:0; text-align:center; }
</style>
<form method="POST" action="/" id="_form_53_" class="_form _form_53 _inline-form  _dark" novalidate="">
  <input type="hidden" name="u" value="53" data-name="u">
  <input type="hidden" name="f" value="53" data-name="f">
  <input type="hidden" name="s" data-name="s">
  <input type="hidden" name="c" value="0" data-name="c">
  <input type="hidden" name="m" value="0" data-name="m">
  <input type="hidden" name="act" value="sub" data-name="act">
  <input type="hidden" name="v" value="2" data-name="v">
  <div class="_form-content">
    <div class="_form_element _x58552419 _full_width _clear">
      <div class="_form-title">
        Ready To Start A Project
      </div>
    </div>
    <div class="_form_element _x40719898 _full_width ">
      <label class="_form-label">
      </label>
      <div class="_field-wrapper">
        <input type="text" name="firstname" placeholder="First Name" required="" data-name="firstname">
      </div>
    </div>
    <div class="_form_element _x63340275 _full_width ">
      <label class="_form-label">
      </label>
      <div class="_field-wrapper">
        <input type="text" name="lastname" placeholder="Last Name" data-name="lastname">
      </div>
    </div>
    <div class="_form_element _x59736846 _full_width ">
      <label class="_form-label">
      </label>
      <div class="_field-wrapper">
        <input type="text" name="email" placeholder="Your Email" required="" data-name="email">
      </div>
    </div>
   <!--  <div class="_form_element _x07164424 _full_width " >
      <label class="_form-label">
      </label>
      <div class="_field-wrapper">
        <input type="text" name="phone" placeholder="Your Phone Number" />
      </div>
    </div> -->
    <div class="_form_element _field1 _full_width ">
      <label class="_form-label">
      </label>
      <div class="_field-wrapper">
        <textarea name="field[1]" placeholder="Your Message" style="height: 97px;" required="" data-name="your_message"></textarea>
      </div>
    </div>
    <div class="_form_element _field14 _full_width ">
      <input type="hidden" name="field[14]" value="" class="page_url" data-name="url">
    </div>
    <div class="_form_element _field13 _full_width ">
      <input type="hidden" name="field[13]" value=" Front End Development" class="page_title" data-name="page" readonly="">
    </div>
    <div class="_form_element _x38328185 _full_width ">
      <label class="_form-label">
      </label>
      <div class="g-recaptcha" data-sitekey="6LcwIw8TAAAAACP1ysM08EhCgzd6q5JAOUR1a0Go" id="recaptcha_0"><div style="width: 304px; height: 78px;"><div><iframe src="https://www.google.com/recaptcha/api2/anchor?ar=2&amp;k=6LcwIw8TAAAAACP1ysM08EhCgzd6q5JAOUR1a0Go&amp;co=aHR0cHM6Ly93d3cuYnJpaGFzcGF0aXRlY2guY29tOjQ0Mw..&amp;hl=en&amp;v=v1551681158638&amp;size=normal&amp;cb=kgh6t1e5g714" width="304" height="78" role="presentation" name="a-36p1acggj6u7" frameborder="0" scrolling="no" sandbox="allow-forms allow-popups allow-same-origin allow-scripts allow-top-navigation allow-modals allow-popups-to-escape-sandbox"></iframe></div><textarea id="g-recaptcha-response" name="g-recaptcha-response" class="g-recaptcha-response" style="width: 250px; height: 40px; border: 1px solid rgb(193, 193, 193); margin: 10px 25px; padding: 0px; resize: none; display: none;"></textarea></div></div>
    </div>
    <div class="_button-wrapper _full_width">
      <button id="_form_53_submit" class="_submit" type="submit">
        Get Started
      </button>
    </div>
    <div class="_clear-element">
    </div>
  </div>
  <div class="_form-thank-you" style="display:none;">
  </div>
</form><script type="text/javascript">
window.cfields = {"1":"your_message","14":"url","13":"page"};
window._show_thank_you = function(id, message, trackcmp_url) {
  var form = document.getElementById('_form_' + id + '_'), thank_you = form.querySelector('._form-thank-you');
  form.querySelector('._form-content').style.display = 'none';
  thank_you.innerHTML = message;
  thank_you.style.display = 'block';
  if (typeof(trackcmp_url) != 'undefined' && trackcmp_url) {
    // Site tracking URL to use after inline form submission.
    _load_script(trackcmp_url);
  }
  if (typeof window._form_callback !== 'undefined') window._form_callback(id);
};
window._show_error = function(id, message, html) {
  var form = document.getElementById('_form_' + id + '_'), err = document.createElement('div'), button = form.querySelector('button'), old_error = form.querySelector('._form_error');
  if (old_error) old_error.parentNode.removeChild(old_error);
  err.innerHTML = message;
  err.className = '_error-inner _form_error _no_arrow';
  var wrapper = document.createElement('div');
  wrapper.className = '_form-inner';
  wrapper.appendChild(err);
  button.parentNode.insertBefore(wrapper, button);
  document.querySelector('[id^="_form"][id$="_submit"]').disabled = false;
  if (html) {
    var div = document.createElement('div');
    div.className = '_error-html';
    div.innerHTML = html;
    err.appendChild(div);
  }
};
window._load_script = function(url, callback) {
    var head = document.querySelector('head'), script = document.createElement('script'), r = false;
    script.type = 'text/javascript';
    script.charset = 'utf-8';
    script.src = url;
    if (callback) {
      script.onload = script.onreadystatechange = function() {
      if (!r && (!this.readyState || this.readyState == 'complete')) {
        r = true;
        callback();
        }
      };
    }
    head.appendChild(script);
};
(function() {
  if (window.location.search.search("excludeform") !== -1) return false;
  var getCookie = function(name) {
    var match = document.cookie.match(new RegExp('(^|; )' + name + '=([^;]+)'));
    return match ? match[2] : null;
  }
  var setCookie = function(name, value) {
    var now = new Date();
    var time = now.getTime();
    var expireTime = time + 1000 * 60 * 60 * 24 * 365;
    now.setTime(expireTime);
    document.cookie = name + '=' + value + '; expires=' + now + ';path=/';
  }
      var addEvent = function(element, event, func) {
    if (element.addEventListener) {
      element.addEventListener(event, func);
    } else {
      var oldFunc = element['on' + event];
      element['on' + event] = function() {
        oldFunc.apply(this, arguments);
        func.apply(this, arguments);
      };
    }
  }
  var _removed = false;
  var form_to_submit = document.getElementById('_form_53_');
  var allInputs = form_to_submit.querySelectorAll('input, select, textarea'), tooltips = [], submitted = false;

  var getUrlParam = function(name) {
    var regexStr = '[\?&]' + name + '=([^&#]*)';
    var results = new RegExp(regexStr, 'i').exec(window.location.href);
    return results != undefined ? decodeURIComponent(results[1]) : false;
  };

  for (var i = 0; i < allInputs.length; i++) {
    var regexStr = "field\\[(\\d+)\\]";
    var results = new RegExp(regexStr).exec(allInputs[i].name);
    if (results != undefined) {
      allInputs[i].dataset.name = window.cfields[results[1]];
    } else {
      allInputs[i].dataset.name = allInputs[i].name;
    }
    var fieldVal = getUrlParam(allInputs[i].dataset.name);

    if (fieldVal) {
      if (allInputs[i].type == "radio" || allInputs[i].type == "checkbox") {
        if (allInputs[i].value == fieldVal) {
          allInputs[i].checked = true;
        }
      } else {
        allInputs[i].value = fieldVal;
      }
    }
  }

  var remove_tooltips = function() {
    for (var i = 0; i < tooltips.length; i++) {
      tooltips[i].tip.parentNode.removeChild(tooltips[i].tip);
    }
      tooltips = [];
  };
  var remove_tooltip = function(elem) {
    for (var i = 0; i < tooltips.length; i++) {
      if (tooltips[i].elem === elem) {
        tooltips[i].tip.parentNode.removeChild(tooltips[i].tip);
        tooltips.splice(i, 1);
        return;
      }
    }
  };
  var create_tooltip = function(elem, text) {
    var tooltip = document.createElement('div'), arrow = document.createElement('div'), inner = document.createElement('div'), new_tooltip = {};
    if (elem.type != 'radio' && elem.type != 'checkbox') {
      tooltip.className = '_error';
      arrow.className = '_error-arrow';
      inner.className = '_error-inner';
      inner.innerHTML = text;
      tooltip.appendChild(arrow);
      tooltip.appendChild(inner);
      elem.parentNode.appendChild(tooltip);
    } else {
      tooltip.className = '_error-inner _no_arrow';
      tooltip.innerHTML = text;
      elem.parentNode.insertBefore(tooltip, elem);
      new_tooltip.no_arrow = true;
    }
    new_tooltip.tip = tooltip;
    new_tooltip.elem = elem;
    tooltips.push(new_tooltip);
    return new_tooltip;
  };
  var resize_tooltip = function(tooltip) {
    var rect = tooltip.elem.getBoundingClientRect();
    var doc = document.documentElement, scrollPosition = rect.top - ((window.pageYOffset || doc.scrollTop)  - (doc.clientTop || 0));
    if (scrollPosition < 40) {
      tooltip.tip.className = tooltip.tip.className.replace(/ ?(_above|_below) ?/g, '') + ' _below';
    } else {
      tooltip.tip.className = tooltip.tip.className.replace(/ ?(_above|_below) ?/g, '') + ' _above';
    }
  };
  var resize_tooltips = function() {
    if (_removed) return;
    for (var i = 0; i < tooltips.length; i++) {
      if (!tooltips[i].no_arrow) resize_tooltip(tooltips[i]);
    }
  };
  var validate_field = function(elem, remove) {
    var tooltip = null, value = elem.value, no_error = true;
    remove ? remove_tooltip(elem) : false;
    if (elem.type != 'checkbox') elem.className = elem.className.replace(/ ?_has_error ?/g, '');
    if (elem.getAttribute('required') !== null) {
      if (elem.type == 'radio' || (elem.type == 'checkbox' && /any/.test(elem.className))) {
        var elems = form_to_submit.elements[elem.name];
        if (!(elems instanceof NodeList || elems instanceof HTMLCollection) || elems.length <= 1) {
          no_error = elem.checked;
        }
        else {
          no_error = false;
          for (var i = 0; i < elems.length; i++) {
            if (elems[i].checked) no_error = true;
          }
        }
        if (!no_error) {
          tooltip = create_tooltip(elem, "Please select an option.");
        }
      } else if (elem.type =='checkbox') {
        var elems = form_to_submit.elements[elem.name], found = false, err = [];
        no_error = true;
        for (var i = 0; i < elems.length; i++) {
          if (elems[i].getAttribute('required') === null) continue;
          if (!found && elems[i] !== elem) return true;
          found = true;
          elems[i].className = elems[i].className.replace(/ ?_has_error ?/g, '');
          if (!elems[i].checked) {
            no_error = false;
            elems[i].className = elems[i].className + ' _has_error';
            err.push("Checking %s is required".replace("%s", elems[i].value));
          }
        }
        if (!no_error) {
          tooltip = create_tooltip(elem, err.join('<br/>'));
        }
      } else if (elem.tagName == 'SELECT') {
        var selected = true;
        if (elem.multiple) {
          selected = false;
          for (var i = 0; i < elem.options.length; i++) {
            if (elem.options[i].selected) {
              selected = true;
              break;
            }
          }
        } else {
          for (var i = 0; i < elem.options.length; i++) {
            if (elem.options[i].selected && !elem.options[i].value) {
              selected = false;
            }
          }
        }
        if (!selected) {
          elem.className = elem.className + ' _has_error';
          no_error = false;
          tooltip = create_tooltip(elem, "Please select an option.");
        }
      } else if (value === undefined || value === null || value === '') {
        elem.className = elem.className + ' _has_error';
        no_error = false;
        tooltip = create_tooltip(elem, "This field is required.");
      }
    }
    if (no_error && elem.name == 'email') {
      if (!value.match(/^[\+_a-z0-9-'&=]+(\.[\+_a-z0-9-']+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,})$/i)) {
        elem.className = elem.className + ' _has_error';
        no_error = false;
        tooltip = create_tooltip(elem, "Enter a valid email address.");
      }
    }
    if (no_error && /date_field/.test(elem.className)) {
      if (!value.match(/^\d\d\d\d-\d\d-\d\d$/)) {
        elem.className = elem.className + ' _has_error';
        no_error = false;
        tooltip = create_tooltip(elem, "Enter a valid date.");
      }
    }
    tooltip ? resize_tooltip(tooltip) : false;
    return no_error;
  };
  var needs_validate = function(el) {
    return el.name == 'email' || el.getAttribute('required') !== null;
  };
  var validate_form = function(e) {
    var err = form_to_submit.querySelector('._form_error'), no_error = true;
    if (!submitted) {
      submitted = true;
      for (var i = 0, len = allInputs.length; i < len; i++) {
        var input = allInputs[i];
        if (needs_validate(input)) {
          if (input.type == 'text') {
            addEvent(input, 'blur', function() {
              this.value = this.value.trim();
              validate_field(this, true);
            });
            addEvent(input, 'input', function() {
              validate_field(this, true);
            });
          } else if (input.type == 'radio' || input.type == 'checkbox') {
            (function(el) {
              var radios = form_to_submit.elements[el.name];
              for (var i = 0; i < radios.length; i++) {
                addEvent(radios[i], 'click', function() {
                  validate_field(el, true);
                });
              }
            })(input);
          } else if (input.tagName == 'SELECT') {
            addEvent(input, 'change', function() {
              validate_field(this, true);
            });
          }
        }
      }
    }
    remove_tooltips();
    for (var i = 0, len = allInputs.length; i < len; i++) {
      var elem = allInputs[i];
      if (needs_validate(elem)) {
        if (elem.tagName.toLowerCase() !== "select") {
          elem.value = elem.value.trim();
        }
        validate_field(elem) ? true : no_error = false;
      }
    }
    if (!no_error && e) {
      e.preventDefault();
    }
    resize_tooltips();
    return no_error;
  };
  addEvent(window, 'resize', resize_tooltips);
  addEvent(window, 'scroll', resize_tooltips);
  window['recaptcha_callback'] = function() {
  // Get all recaptchas in the DOM (there may be more than one form on the page).
  var recaptchas = document.getElementsByClassName("g-recaptcha");
  for (var i in recaptchas) {
    // Set the recaptcha element ID, so the recaptcha can be applied to each element.
    var recaptcha_id = "recaptcha_" + i;
    recaptchas[i].id = recaptcha_id;
    var el = document.getElementById(recaptcha_id);
    if (el != null) {
      var sitekey = el.getAttribute("data-sitekey");
      var stoken = el.getAttribute("data-stoken");
      grecaptcha.render(recaptcha_id, {"sitekey":sitekey,"stoken":stoken});
    }
  }
};  _load_script("//www.google.com/recaptcha/api.js?onload=recaptcha_callback&render=explicit");
  window._old_serialize = null;
  if (typeof serialize !== 'undefined') window._old_serialize = window.serialize;
  _load_script("//d3rxaij56vjege.cloudfront.net/form-serialize/0.3/serialize.min.js", function() {
    window._form_serialize = window.serialize;
    if (window._old_serialize) window.serialize = window._old_serialize;
  });
  var form_submit = function(e) {
    e.preventDefault();
    if (validate_form()) {
      // use this trick to get the submit button & disable it using plain javascript
      document.querySelector('[id^="_form"][id$="_submit"]').disabled = true;
            var serialized = _form_serialize(document.getElementById('_form_53_'));
      var err = form_to_submit.querySelector('._form_error');
      err ? err.parentNode.removeChild(err) : false;
      _load_script('/' + serialized + '&jsonp=true');
    }
    return false;
  };
  addEvent(form_to_submit, 'submit', form_submit);
})();

</script></div>
		</section>											</div>
										</div>
									
								</div>

							
						</div>
					</div>

				

				
				
				
				
				
			</div>
		</div>
	</main></div>

	

	
					

			<div class="slickk slick-initialized slick-slider slick-dotted" id="bt-slick" role="toolbar"><div class="class-to-style slick-arrow" style="display: block;"><span class="fa fa-angle-left"></span><span class="sr-only">Prev</span></div>
				<div aria-live="polite" class="slick-list draggable"><div class="slick-track" style="opacity: 1; width: 9443px; transform: translate3d(-6745px, 0px, 0px);" role="listbox"><div class="slick-slide slick-cloned" data-slick-index="-1" aria-hidden="true" style="width: 1349px;" tabindex="-1">

													<a href="/" target="_blank" tabindex="-1">
								<img src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="" title="Bite-BC" imageholder="https://www.brihaspatitech.com/wp-content/uploads/2017/01/Bite-BC-2.jpg">
								<div class="app-btns"></div>
							</a>
											</div><div class="slick-slide" data-slick-index="0" aria-hidden="true" style="width: 1349px;" tabindex="-1" role="option" aria-describedby="slick-slide00">

											<a href="/" target="_blank" tabindex="-1">
							<img src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="" title="The-BMW-Store-Vancouver" imageholder="https://www.brihaspatitech.com/wp-content/uploads/2017/01/The-BMW-Store-Vancouver-4.jpg">
							<div class="app-btns"></div>
						</a>
									</div><div class="slick-slide" data-slick-index="1" aria-hidden="true" style="width: 1349px;" tabindex="-1" role="option" aria-describedby="slick-slide01">

													<a href="/" target="_blank" tabindex="-1">
								<img src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="" title="journey-om" imageholder="https://www.brihaspatitech.com/wp-content/uploads/2017/01/journey-om-4.jpg">
								<div class="app-btns"></div>
							</a>
											</div><div class="slick-slide" data-slick-index="2" aria-hidden="true" style="width: 1349px;" tabindex="-1" role="option" aria-describedby="slick-slide02">
													<a href="/" target="_blank" tabindex="-1">
								<img src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="" title="studio-26rl" imageholder="https://www.brihaspatitech.com/wp-content/uploads/2017/01/studio-26rl-1.jpg">
								<div class="app-btns"></div>
							</a>
											</div><div class="slick-slide" data-slick-index="3" aria-hidden="true" style="width: 1349px;" tabindex="-1" role="option" aria-describedby="slick-slide03">
					
						
							<img src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="" title="saa-banner" imageholder="https://www.brihaspatitech.com/wp-content/uploads/2017/01/saa-banner-1.jpg">
							<div class="app-btns"></div>
											</div><div class="slick-slide slick-current slick-active" data-slick-index="4" aria-hidden="false" style="width: 1349px;" tabindex="-1" role="option" aria-describedby="slick-slide04">

													<a href="/" target="_blank" tabindex="0">
								<img src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="" title="Bite-BC" imageholder="https://www.brihaspatitech.com/wp-content/uploads/2017/01/Bite-BC-2.jpg">
								<div class="app-btns"></div>
							</a>
											</div><div class="slick-slide slick-cloned" data-slick-index="5" aria-hidden="true" style="width: 1349px;" tabindex="-1">

											<a href="/" target="_blank" tabindex="-1">
							<img src="https://www.brihaspatitech.com/wp-content/plugins/advanced-lazy-load/shade.gif" alt="" title="The-BMW-Store-Vancouver" imageholder="https://www.brihaspatitech.com/wp-content/uploads/2017/01/The-BMW-Store-Vancouver-4.jpg">
							<div class="app-btns"></div>
						</a>
									</div></div></div>

									
				

									
				
									
				
									
				
								<!-- <img data-lazy="/wp-content/themes/TBI/images/iconss/rolling.gif"/> -->
			<div class="class-to-style slick-arrow" style="display: block;"><span class="fa fa-angle-right"></span><span class="sr-only">Next</span></div><ul class="slick-dots" style="display: block;" role="tablist"><li class="" aria-hidden="true" role="presentation" aria-selected="true" aria-controls="navigation00" id="slick-slide00"><button type="button" data-role="none" role="button" tabindex="0">1</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation01" id="slick-slide01" class=""><button type="button" data-role="none" role="button" tabindex="0">2</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation02" id="slick-slide02" class=""><button type="button" data-role="none" role="button" tabindex="0">3</button></li><li aria-hidden="true" role="presentation" aria-selected="false" aria-controls="navigation03" id="slick-slide03" class=""><button type="button" data-role="none" role="button" tabindex="0">4</button></li><li aria-hidden="false" role="presentation" aria-selected="false" aria-controls="navigation04" id="slick-slide04" class="slick-active"><button type="button" data-role="none" role="button" tabindex="0">5</button></li></ul></div>
		
				



		
	<!-- .site-main -->

	

</div>

<script>
	(function($){
		$('.slickk').slick({
		  	dots: true,
		  	infinite: true,
		  	slidesToShow: 1,
			autoplay: true,
 			autoplaySpeed: 2000,
 			prevArrow: '<div class="class-to-style"><span class="fa fa-angle-left"></span><span class="sr-only">Prev</span></div>',
			nextArrow: '<div class="class-to-style"><span class="fa fa-angle-right"></span><span class="sr-only">Next</span></div>',
			
		});

		
	})(jQuery);
    
</script>
 
	<!-- <script type="text/javascript" src="/wp-content/themes/TBI/js/new/mobappScroll.js"></script> -->

<script defer="">
		(function($){
		
		var sign_up = $('.right_side.servicepage').offset().top;
		$(window).scroll(function() {
			var height = $(window).scrollTop();

			if(height  > sign_up) {
		   		$('.right_side.servicepage').addClass("p_fixed");
			}
			else if(height  < sign_up) {
		   		$('.right_side.servicepage').removeClass("p_fixed");
			}
		});
		
		var sign_up2 = $('.service_stop_form').offset().top;
	
	   	$(window).scroll(function() {
	   		var height = $(window).scrollTop();
	   		if(height  > sign_up2) {
		  		$('.right_side.servicepage').addClass("p_fixed1");
		  		$('.right_side.servicepage').parent().addClass("p_fixed1_parent");
		
			}
	   		else if(height  < sign_up2) {
		  		$('.right_side.servicepage').removeClass("p_fixed1");
		  		$('.right_side.servicepage').parent().removeClass("p_fixed1_parent");
		
	   		}
	   	});


	})(jQuery);
</script>

 		
				</div>