			<footer id="colophon" class="site-footer">
				<div class="container-fluid">
					<div class="row">
						<div class="col-md-5 col-sm-5">
							<div id="text-3" class="footer-1">
								<div class="textwidget"><img
										src="https://res.cloudinary.com/malibuitlabs/image/upload/v1549601619/mit_png_2_i2byts_fasdnz.png"
										alt="Malibu IT Labs" id="logofoot" ImageHolder="" />
									<div class="more">
										<p class="h">CONNECT WITH US</p>
										<ul>
											<li><a href="tel:+14807457155">+1 (480) 745-7155 <img src="/assets/usa.png" alt="img"
														ImageHolder="/wp-content/themes/TBI/images/usa.png" /> (USA)</a></li>
											<!--li><a href="tel:+919959987477">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <img src="/assets/india.png" alt="img" ImageHolder="/wp-content/themes/TBI/images/india.png" /> (IND)</a></li-->
											<li><a href="mailto:contact@malibuitlabs.com">contact@malibuitlabs.com</a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div id="text-4" class="footer-1">
								<div class="textwidget">
									<p class="h">VISIT US</p>
									<ul style="margin-bottom: 11px;">
										
										<li>1250 Borregas Avenue </li>
										<li>Sunnyvale, CA 94089, USA</li>
									</ul>
									<ul>
										
										<li>6991 E Camelback Rd,Suite c310</li>
										<li>Scottsdale, AZ 85251, USA</li>

									</ul>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div id="text-5" class="footer-1">
								<div class="textwidget">
									<p class="h">FOLLOW US</p>
									<ul class="social_icons">
										<li class="icon-first"><a href="/" target="_blank"><i class="fa fa-facebook"
													aria-hidden="true"></i></a> </li>
										<li class="icon-second"><a href="https://twitter.com/it_malibu" target="_blank"><i
													class="fa fa-twitter" aria-hidden="true"></i></a> </li>
										<!--li class="icon-third"><a href="#" ><i class="fa fa-youtube" aria-hidden="true"></i></a> </li-->
										<!--li class="icon-fourth"><a href="#" target="_blank"> </a> </li-->
										<li class="icon-fifth"><a href="https://www.linkedin.com/company/13651015/"
												target="_blank"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
										<!--li class="icon-sixth"><a href="#" ><i class="fa fa-google-plus" aria-hidden="true"></i></a> </li-->
									</ul>
								</div>
							</div>
						</div>
					</div>
					<div class="row" id="base_footer">
						<div class="col-md-5 col-sm-5">
							<div class="copyright">
								<div id="text-2" class="single-widget other_links myblog-sidebar">
									<div class="widget-body">
										<div class="textwidget">Copyright © 2020 <span> Malibu IT Labs</span> LLC</div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-4 col-sm-4">
							<div class="copyright">
								<div id="text-6" class="other_links">
									<div class="textwidget">
										<ul>

											<li class="terms"><a target="_blank" href="/our-privacy-policy">Terms | Privacy
													Policy </a></li>
										</ul>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-3 col-sm-3">
							<div class="copyright"></div>




						</div>
					</div>
				</div>
			</footer>